.line {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.orangeLine {
  width: 50px;
  height: 2px;
  background-color: #f25b03;
}

.grayLine {
  width: 50px;
  height: 2px;
  background-color: #cccccc;
}

.service h3 {
  margin-top: 30px;
  font-size: 25px;
}

.service p {
  color: #767676;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 100px 0;
  gap: 30px;
}
